body{
    color: white;
    background-color: transparent;
}

.float-left, .float-right {
    max-width: 200px;
}

.countries{
    display: unset;
}

.form-box {
    max-width: 550px; 
    background-color: rgba(0,0,0,0.7); 
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.page-header {
    text-align: center; 
    font-family: impact; 
    border-bottom: 2px solid; 
    padding: 20px 0;
    font-size: 2.5rem;
}
.h2, h2 {
    font-size: 2.7rem;
}

form {
    padding: 25px;
}

#swap {
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-left: 40px;
}

#logo {
    width: 80px;
    height: 60px;
}

.fixrow {
    padding-left: 10%;
    margin-bottom: 5px;
    display: unset; 
}

label{
    font-weight: bold;
}

#root {
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#tbody td, #tbody th {
    border: 1px solid black;
}

 #thead {
     font-size: 18px;
 }

#tbody {
    white-space:pre-wrap;
    font-size: 22px;
    line-height: 1;
}
.table td, .table th {
    vertical-align: middle;
}
.table-bordered {
    border: 0px solid black;
}
.red {
    background-color: rgba(255, 0, 0, 0.3);
}

th {
    max-width: 72px;
    text-align: center;
}
td{
    max-width: 70px;
}
#th {
    max-width: 68px;
}
.invisible {
    display: none;
}
i {
    font-size: 15px;
    font-weight: normal;
    color: #e9ecef;
}
#altalova{
    font-weight: bold;
    white-space:pre;
}

.difference {
    color: red;
    font-size: 28px;
}

#origin, #recipient {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.wiggle {
  position: relative;
  top: 0;
  display: inline-block;
  animation: wiggle 1.5s ease-in-out infinite;
  transition: all 0.2s;
}
 
.wiggle:hover {
    cursor: pointer;
    top: -3px;
} 

@keyframes wiggle {
    0%   {transform: rotate(10deg);}
    50%  {transform: rotateZ(-10deg);}
    100% {transform: rotateZ(10deg);}
}

#mg, #banks, #online, #altalova {
    text-align: center;
    font-size: 38px;
}

#flag {
    width: 30px;
    height: 24px;
    vertical-align: text-top;
}

@media (max-width: 992px) {
    #swap {
        margin-left: 10%;
        align-self: center;
    }
    .fixrow {
        padding-left: 7%;
    }
    .h2, h2 {
        font-size: 2rem;
    }
    #tbody, #thead, #root {
        font-size: 18px;
    }
    i {
        font-size: 13px;
    }
    .difference {
        font-size: 25px;
    }
    #altalova{
        white-space:pre-wrap;
    }
    #flag {
        width: 25px;
        height: 20px;
    }
    #mg, #banks, #online, #altalova {
        font-size: 30px;
    }
    .float-left, .float-right {
        max-width: 165px;
    }
    .float-right{
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    #swap {
        margin-left: 15px;
    }
    .h2, h2 {
        font-size: 1.5rem;
    }
    #tbody, #thead, #root, .difference {
        font-size: 14px;
    }
    i {
        font-size: 10px;
    }
    #fraction, #currency {
        display: none;
    }
    #mg, #banks, #online, #altalova {
        font-size: 20px;
    }
    #flag {
        width: 23px;
        height: 17px;
        vertical-align: text-top;
    }
    .fixrow {
        padding-left: 0;
    }
    .float-left, .float-right {
        max-width: 145px;
    }
}
